{% extends "base.html" %}
{% block title %}Edit crackme{% endblock %}
{% block page_title %}Edit crackme{% endblock %}
{% block head %}{% endblock %}
{% block content %}

<div class="container grid-lg wrapper">
    <h2>Edit crackme: {{ crackme.name }}</h2>
    <p>Update the details of your crackme. Note: You cannot change the name or uploaded file.</p>

    <div class="divider"></div>
    <form class="form-horizontal" action="/crackme/{{ crackme.hexid }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="lang">Language</label>
            </div>
            <div class="col-9 col-sm-12">
                {% set choice_type = 'radio' %}
                {% set choice_name = 'lang' %}
                {% set choice_options = LANG_CHOICES %}
                {% set choice_selected = crackme.lang %}
                {% include 'partial/choice_inputs.html' %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="arch">Arch</label>
            </div>
            <div class="col-9 col-sm-12">
                {% set choice_type = 'radio' %}
                {% set choice_name = 'arch' %}
                {% set choice_options = ARCH_CHOICES %}
                {% set choice_selected = crackme.arch %}
                {% include 'partial/choice_inputs.html' %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="platform">Platform</label>
            </div>
            <div class="col-9 col-sm-12">
                {% set choice_type = 'radio' %}
                {% set choice_name = 'platform' %}
                {% set choice_options = PLATFORM_CHOICES %}
                {% set choice_selected = crackme.platform %}
                {% include 'partial/choice_inputs.html' %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="info">Description</label>
            </div>
            <div class="col-9 col-sm-12">
                <textarea class="form-input" id="info" name="info" placeholder="Description" rows="5">{{ crackme.info }}</textarea>
            </div>
        </div>
        <div class="form-group" style="margin-top: 20px;">
            <div class="col-3 col-sm-12"></div>
            <div class="col-9 col-sm-12">
                <input type="submit" class="btn active" value="Save changes">
                <a href="/crackme/{{ crackme.hexid }}" class="btn" style="margin-left: 10px;">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% include 'partial/footer.html' %}
{% endblock %}
{% block foot %}{% endblock %}
