{% extends "base.html" %}
{% block title %}Latest crackmes{% endblock %}
{% block page_title %}Latest crackmes{% endblock %}
{% block head %}{% endblock %}
{% block content %}

<div style="max-width: 80%" class="container d-flex-row wrapper">

    <h2>Latest Crackmes <a href="/rss/crackme"><img src="/static/img/rss.svg" width="16" height="16" /></a></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th style="width: 17%;">Name</th>
                    <th style="width: 14%;">Author</th>
                    <th style="width: 8%;">Language</th>
                    <th style="width: 6%;">Arch</th>
                    <th style="width: 4%;">Difficulty</th>
                    <th style="width: 4%;">Quality</th>
                    <th style="width: 8%;">Platform</th>
                    <th style="width: 6%;">Size</th>
                    <th style="width: 9%;">Date</th>
                    <th style="width: 5%;">Downloads</th>
                    <th style="width: 5%;">Writeups</th>
                    <th style="width: 5%;">Comments</th>
                </tr>
            </thead>
            <tbody id="content-list">
                {% for crackme in crackmes %}
                <tr class="text-center">
                    <td> <a href="/crackme/{{ crackme.hexid }}">{{ crackme.name }}</a></td>
                    <td> <a href="/user/{{ crackme.author }}">{{ crackme.author }}</a> </td>
                    <td> {{ crackme.lang }} </td>
                    <td> {{ crackme.arch }} </td>
                    <td> {{ "%.1f"|format(crackme.difficulty) }} </td>
                    <td> {{ "%.1f"|format(crackme.quality) }} </td>
                    <td> {{ crackme.platform }} </td>
                    <td> {{ crackme.size|default(0)|FILESIZE }} </td>
                    <td> {{ crackme.created_at|PRETTYTIME }} </td>
                    <td> {{ crackme.nbdownloads|default(0) }} </td>
                    <td> {{ crackme.nbsolutions }} </td>
                    <td> {{ crackme.nbcomments }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination-controls">
        {% if page > 1 %}
        <a href="/lasts/{{ page - 1 }}" class="btn active">Previous</a>
        {% else %}
        <button class="btn" disabled>Previous</button>
        {% endif %}
        <span class="pagination-info">Page {{ page }}</span>
        {% if has_more %}
        <a href="/lasts/{{ page + 1 }}" class="btn active">Next</a>
        {% else %}
        <button class="btn" disabled>Next</button>
        {% endif %}
    </div>

</div>

{% include 'partial/footer.html' %}
{% endblock %}
{% block foot %}{% endblock %}
