{% extends "base.html" %}
{% block title %}Crackmes.one{% endblock %}
{% block page_title %}Crackmes.one{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="container grid-lg wrapper">
    <h3>Welcome!</h3>
    <p>This is a simple place where you can download crackmes to improve your reverse engineering skills. If you want to submit a crackme or a solution to one of them, you must register. But before that, I strongly recommend you to read the <a href="/faq">FAQ</a>. If you have any kind of question regarding the website, a crackme, feel free to join the <a href="https://discord.gg/2pPV3yq">discord chat</a>.</p>
    <p><strong>Note:</strong> All downloads are password-protected. The password is <span style="color: #9acc14; font-weight: bold;">crackmes.one</span></p>

    <div class="toast" style="margin: 20px 0;">
        <p><strong>🏆 Crackmes.one CTF 2026 - Thank You!</strong></p>
        <p>The CTF is over, and it has been a huge success! Thank you to everyone who participated. Check out the <a href="https://ctf.crackmes.one/" target="_blank" style="color: #9acc14; font-weight: bold;">Hall of Fame</a>, read the <a href="https://blog.crackmes.one/2026/02/21/crackmes-one-ctf-2026-recap.html" target="_blank" style="color: #9acc14; font-weight: bold;">recap blog post</a>, and explore the <a href="https://github.com/crackmesone/ctf-2026-challenges-public" target="_blank" style="color: #9acc14; font-weight: bold;">challenges and writeups</a>.</p>
    </div>

    <div class="columns">
        <div class="column col-4">
            <div class="column col-12 panel-background">
                <p>Number of users: </p>
                <h2 class="text-center"> {{ nbusers }}</h2><br>
            </div>
        </div>
        <div class="column col-4">
            <div class="column col-12 panel-background">
                <p>Number of crackmes: </p>
                <h2 class="text-center"> {{ nbcrackmes }}</h2><br>
            </div>
        </div>
        <div class="column col-4">
            <div class="column col-12 panel-background">
                <p>Number of writeups:  </p>
                <h2 class="text-center"> {{ nbsolutions }}</h2><br>
            </div>
        </div>
    </div>
</div>

{# {% include 'partial/winner.html' %} #}
{% include 'partial/footer.html' %}
{% endblock %}
{% block foot %}{% endblock %}
