{% extends "base.html" %}
{% block title %}Upload writeup{% endblock %}
{% block page_title %}Upload writeup{% endblock %}
{% block head %}{% endblock %}
{% block content %}


<div class="container grid-lg wrapper">
    <h2>Upload a Writeup</h2>
    <p>I've heard that most of users prefers simples text files, but PDF, docx, markdown files are all acceptable.</p>
    <ol>
        <li>Please submit a writeup that details how you solved the crackme.</li>
        <li>Please do NOT submit a patched crackme unless that crackme specifies that patching is intended (patchme).</li>
        <li>Please do NOT exclusively submit a password, serial, key, executable, solving script, etc. We want people to be able to learn from your writeup.</li>
    </ol>

    <p>Read a full list of rules <a href="/upload/writeuprules/">here</a></p>

    <div class="divider"></div>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <div class="col-3">Crackme</div>
            <div class="col-9">{{ crackmename }} by {{ username }}</div>
        </div>
        <div class="form-group">
            <div class="col-3">
                <label class="form-label" for="file">File</label>
            </div>
            <div class="col-9">
                <input class="form-input upload-btn" type="file" id="file" name="file">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="info">Infos</label>
            </div>
            <div class="col-9 col-sm-12">
                <textarea class="form-input" id="info" name="info" placeholder="Textarea" rows="3"></textarea>
            </div>
        </div>
        {% if RECAPTCHA_SITEKEY %}
        <div class="g-recaptcha float-right" data-sitekey="{{ RECAPTCHA_SITEKEY }}"></div>
        {% endif %}
        </br></br></br></br>
        <input type="submit" class="btn active float-right" value="Upload a solution">
        <input type="hidden" id="hexidcrackme" name="hexidcrackme" value="{{ hexidcrackme }}">
    </form>
</div>
{% include 'partial/footer.html' %}

{% endblock %}
{% block foot %}{% endblock %}
