{% extends "base.html" %}
{% block title %}Search a crackme{% endblock %}
{% block page_title %}Search a crackme{% endblock %}
{% block head %}{% endblock %}
{% block content %}


<div style="max-width: 80%" class="container d-flex-row wrapper">

    <h2>Crackme search</h2>
    <form class="form-horizontal" method="get" action="/search">
        <div class="form-group">
            <div class="col-3">Crackme name</div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="name" name="name" placeholder="Name" value="{{ search_params.name }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3">Author</div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="author" name="author" placeholder="Author" value="{{ search_params.author }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Difficulty between</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="difficulty-min" name="difficulty-min" style="max-width: 20%">
                    {% for i in range(1, 7) %}
                    <option value="{{ i }}" {{ 'selected' if search_params.get('difficulty-min', 1) == i else '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
                and
                <select class="form-select" id="difficulty-max" name="difficulty-max" style="max-width: 20%">
                    {% for i in range(1, 7) %}
                    <option value="{{ i }}" {{ 'selected' if search_params.get('difficulty-max', 6) == i else '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Quality between</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="quality-min" name="quality-min" style="max-width: 20%">
                    {% for i in range(1, 7) %}
                    <option value="{{ i }}" {{ 'selected' if search_params.get('quality-min', 1) == i else '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
                and
                <select class="form-select" id="quality-max" name="quality-max" style="max-width: 20%">
                    {% for i in range(1, 7) %}
                    <option value="{{ i }}" {{ 'selected' if search_params.get('quality-max', 6) == i else '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Downloads between</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="number" id="downloads-min" name="downloads-min" min="0" value="{{ search_params.get('downloads-min', 0) }}" style="width: 20%; display: inline-block;">
                and
                <input class="form-input" type="number" id="downloads-max" name="downloads-max" min="0" placeholder="any" value="{{ search_params.get('downloads-max', '') }}" style="width: 20%; display: inline-block;">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Writeups between</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="number" id="solutions-min" name="solutions-min" min="0" value="{{ search_params.get('solutions-min', 0) }}" style="width: 20%; display: inline-block;">
                and
                <input class="form-input" type="number" id="solutions-max" name="solutions-max" min="0" placeholder="any" value="{{ search_params.get('solutions-max', '') }}" style="width: 20%; display: inline-block;">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Comments between</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="number" id="comments-min" name="comments-min" min="0" value="{{ search_params.get('comments-min', 0) }}" style="width: 20%; display: inline-block;">
                and
                <input class="form-input" type="number" id="comments-max" name="comments-max" min="0" placeholder="any" value="{{ search_params.get('comments-max', '') }}" style="width: 20%; display: inline-block;">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Size between</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="number" id="size-min" name="size-min" min="0" step="any" placeholder="any" value="{{ search_params.get('size-min', '') }}" style="width: 15%; display: inline-block;">
                <select class="form-select" id="size-min-unit" name="size-min-unit" style="width: 70px; display: inline-block;">
                    <option value="B" {{ 'selected' if search_params.get('size-min-unit', 'KB') == 'B' else '' }}>B</option>
                    <option value="KB" {{ 'selected' if search_params.get('size-min-unit', 'KB') == 'KB' else '' }}>KB</option>
                    <option value="MB" {{ 'selected' if search_params.get('size-min-unit', 'KB') == 'MB' else '' }}>MB</option>
                    <option value="GB" {{ 'selected' if search_params.get('size-min-unit', 'KB') == 'GB' else '' }}>GB</option>
                </select>
                and
                <input class="form-input" type="number" id="size-max" name="size-max" min="0" step="any" placeholder="any" value="{{ search_params.get('size-max', '') }}" style="width: 15%; display: inline-block;">
                <select class="form-select" id="size-max-unit" name="size-max-unit" style="width: 70px; display: inline-block;">
                    <option value="B" {{ 'selected' if search_params.get('size-max-unit', 'MB') == 'B' else '' }}>B</option>
                    <option value="KB" {{ 'selected' if search_params.get('size-max-unit', 'MB') == 'KB' else '' }}>KB</option>
                    <option value="MB" {{ 'selected' if search_params.get('size-max-unit', 'MB') == 'MB' else '' }}>MB</option>
                    <option value="GB" {{ 'selected' if search_params.get('size-max-unit', 'MB') == 'GB' else '' }}>GB</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="lang">Language</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="lang" name="lang" multiple="">
                    <option value="C/C++" {{ 'selected' if 'C/C++' in search_params.get('lang', []) else '' }}>C/C++</option>
                    <option value="Assembler" {{ 'selected' if 'Assembler' in search_params.get('lang', []) else '' }}>Assembler</option>
                    <option value="Java" {{ 'selected' if 'Java' in search_params.get('lang', []) else '' }}>Java</option>
                    <option value="Go" {{ 'selected' if 'Go' in search_params.get('lang', []) else '' }}>Go</option>
                    <option value="Rust" {{ 'selected' if 'Rust' in search_params.get('lang', []) else '' }}>Rust</option>
                    <option value="WebAssembly" {{ 'selected' if 'WebAssembly' in search_params.get('lang', []) else '' }}>WebAssembly</option>
                    <option value="Python" {{ 'selected' if 'Python' in search_params.get('lang', []) else '' }}>Python</option>
                    <option value="AutoIt" {{ 'selected' if 'AutoIt' in search_params.get('lang', []) else '' }}>AutoIt</option>
                    <option value="(Visual) Basic" {{ 'selected' if '(Visual) Basic' in search_params.get('lang', []) else '' }}>(Visual) Basic</option>
                    <option value="Borland Delphi" {{ 'selected' if 'Borland Delphi' in search_params.get('lang', []) else '' }}>Borland Delphi</option>
                    <option value="Turbo Pascal" {{ 'selected' if 'Turbo Pascal' in search_params.get('lang', []) else '' }}>Turbo Pascal</option>
                    <option value=".NET" {{ 'selected' if '.NET' in search_params.get('lang', []) else '' }}>.NET</option>
                    <option value="Unspecified/other" {{ 'selected' if 'Unspecified/other' in search_params.get('lang', []) else '' }}>Unspecified/other</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="arch">Arch</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="arch" name="arch" multiple="">
                    <option value="x86" {{ 'selected' if 'x86' in search_params.get('arch', []) else '' }}>x86</option>
                    <option value="x86-64" {{ 'selected' if 'x86-64' in search_params.get('arch', []) else '' }}>x86-64</option>
                    <option value="java" {{ 'selected' if 'java' in search_params.get('arch', []) else '' }}>java</option>
                    <option value="ARM" {{ 'selected' if 'ARM' in search_params.get('arch', []) else '' }}>ARM</option>
                    <option value="MIPS" {{ 'selected' if 'MIPS' in search_params.get('arch', []) else '' }}>MIPS</option>
                    <option value="RISC-V" {{ 'selected' if 'RISC-V' in search_params.get('arch', []) else '' }}>RISC-V</option>
                    <option value="other" {{ 'selected' if 'other' in search_params.get('arch', []) else '' }}>other</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="platform">Platform</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="platform" name="platform" multiple="">
                    <option value="DOS" {{ 'selected' if 'DOS' in search_params.get('platform', []) else '' }}>DOS</option>
                    <option value="Mac OS X" {{ 'selected' if 'Mac OS X' in search_params.get('platform', []) else '' }}>Mac OS X</option>
                    <option value="Multiplatform" {{ 'selected' if 'Multiplatform' in search_params.get('platform', []) else '' }}>Multiplatform</option>
                    <option value="Unix/linux etc." {{ 'selected' if 'Unix/linux etc.' in search_params.get('platform', []) else '' }}>Unix/linux etc.</option>
                    <option value="Windows" {{ 'selected' if 'Windows' in search_params.get('platform', []) else '' }}>Windows</option>
                    <option value="Windows 2000/XP only" {{ 'selected' if 'Windows 2000/XP only' in search_params.get('platform', []) else '' }}>Windows 2000/XP only</option>
                    <option value="Windows 7 Only" {{ 'selected' if 'Windows 7 Only' in search_params.get('platform', []) else '' }}>Windows 7 Only</option>
                    <option value="Windows Vista Only" {{ 'selected' if 'Windows Vista Only' in search_params.get('platform', []) else '' }}>Windows Vista Only</option>
                    <option value="Android" {{ 'selected' if 'Android' in search_params.get('platform', []) else '' }}>Android</option>
                    <option value="iOS" {{ 'selected' if 'iOS' in search_params.get('platform', []) else '' }}>iOS</option>
                    <option value="Unspecified/other" {{ 'selected' if 'Unspecified/other' in search_params.get('platform', []) else '' }}>Unspecified/other</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="labels">Labels</label>
            </div>
            <div class="col-9 col-sm-12">
                <div style="max-height: 240px; overflow-y: auto; border: .05rem solid #444; border-radius: .1rem; padding: 6px 8px;">
                    {% set label_input_name = 'labels' %}
                    {% set checked_labels = search_params.get('labels', []) %}
                    {% include 'partial/labels_checkboxes.html' %}
                </div>
                <p class="text-gray" style="font-size: 0.75rem; margin-top: 4px;">Matches crackmes carrying all checked labels. AI-generated, may be inaccurate.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Sort by</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="sort_by" name="sort_by" style="width: 150px; display: inline-block;">
                    <option value="date" {{ 'selected' if search_params.get('sort_by', 'date') == 'date' else '' }}>Date</option>
                    <option value="difficulty" {{ 'selected' if search_params.get('sort_by') == 'difficulty' else '' }}>Difficulty</option>
                    <option value="quality" {{ 'selected' if search_params.get('sort_by') == 'quality' else '' }}>Quality</option>
                    <option value="size" {{ 'selected' if search_params.get('sort_by') == 'size' else '' }}>Size</option>
                    <option value="downloads" {{ 'selected' if search_params.get('sort_by') == 'downloads' else '' }}>Downloads</option>
                    <option value="solutions" {{ 'selected' if search_params.get('sort_by') == 'solutions' else '' }}>Writeups</option>
                    <option value="comments" {{ 'selected' if search_params.get('sort_by') == 'comments' else '' }}>Comments</option>
                </select>
                <select class="form-select" id="sort_order" name="sort_order" style="width: 130px; display: inline-block;">
                    <option value="desc" {{ 'selected' if search_params.get('sort_order', 'desc') == 'desc' else '' }}>Descending</option>
                    <option value="asc" {{ 'selected' if search_params.get('sort_order') == 'asc' else '' }}>Ascending</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn active float-right" value="Search">
        <a href="/search" class="btn active float-right" style="margin-right: 10px;">Clear</a>
        <a href="/random?sort_by={{ search_params.get('sort_by', 'date') }}&sort_order={{ search_params.get('sort_order', 'desc') }}" class="btn active float-right" style="margin-right: 10px;">I'm feeling cracky</a>
    </form>
    <div style="clear: both; margin-top: 20px;"></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th style="width: 17%;">Name</th>
                    <th style="width: 14%;">Author</th>
                    <th style="width: 8%;">Language</th>
                    <th style="width: 6%;">Arch</th>
                    <th style="width: 4%; cursor: pointer;" onclick="sortBy('difficulty')">Difficulty {% if search_params.get('sort_by') == 'difficulty' %}{{ '▲' if search_params.get('sort_order') == 'asc' else '▼' }}{% endif %}</th>
                    <th style="width: 4%; cursor: pointer;" onclick="sortBy('quality')">Quality {% if search_params.get('sort_by') == 'quality' %}{{ '▲' if search_params.get('sort_order') == 'asc' else '▼' }}{% endif %}</th>
                    <th style="width: 8%;">Platform</th>
                    <th style="width: 6%; cursor: pointer;" onclick="sortBy('size')">Size {% if search_params.get('sort_by') == 'size' %}{{ '▲' if search_params.get('sort_order') == 'asc' else '▼' }}{% endif %}</th>
                    <th style="width: 9%; cursor: pointer;" onclick="sortBy('date')">Date {% if search_params.get('sort_by', 'date') == 'date' %}{{ '▲' if search_params.get('sort_order') == 'asc' else '▼' }}{% endif %}</th>
                    <th style="width: 5%; cursor: pointer;" onclick="sortBy('downloads')">Downloads {% if search_params.get('sort_by') == 'downloads' %}{{ '▲' if search_params.get('sort_order') == 'asc' else '▼' }}{% endif %}</th>
                    <th style="width: 5%; cursor: pointer;" onclick="sortBy('solutions')">Writeups {% if search_params.get('sort_by') == 'solutions' %}{{ '▲' if search_params.get('sort_order') == 'asc' else '▼' }}{% endif %}</th>
                    <th style="width: 5%; cursor: pointer;" onclick="sortBy('comments')">Comments {% if search_params.get('sort_by') == 'comments' %}{{ '▲' if search_params.get('sort_order') == 'asc' else '▼' }}{% endif %}</th>
                </tr>
            </thead>
            <tbody id="search-results">
                {% for crackme in crackmes %}
                <tr class="text-center">
                    <td> <a href="/crackme/{{ crackme.hexid }}">{{ crackme.name }}</a></td>
                    <td> <a href="/user/{{ crackme.author }}">{{ crackme.author }}</a> </td>
                    <td> {{ crackme.lang }} </td>
                    <td> {{ crackme.arch }} </td>
                    <td> {{ "%.1f"|format(crackme.difficulty) }} </td>
                    <td> {{ "%.1f"|format(crackme.quality) }} </td>
                    <td> {{ crackme.platform }} </td>
                    <td> {{ crackme.size|default(0)|FILESIZE }} </td>
                    <td> {{ crackme.created_at|PRETTYTIME }} </td>
                    <td> {{ crackme.nbdownloads|default(0) }} <a href="/download/crackme/{{ crackme.hexid }}" title="Download (password: crackmes.one)">[↓]</a></td>
                    <td> {{ crackme.nbsolutions }} </td>
                    <td> {{ crackme.nbcomments }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if crackmes|length > 0 %}
    <div class="pagination-controls">
        {% if show_all %}
        <form method="get" action="/search" style="display: inline;">
            <input type="hidden" name="name" value="{{ search_params.name }}">
            <input type="hidden" name="author" value="{{ search_params.author }}">
            {% for v in search_params.get('lang', []) %}<input type="hidden" name="lang" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('arch', []) %}<input type="hidden" name="arch" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('platform', []) %}<input type="hidden" name="platform" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('labels', []) %}<input type="hidden" name="labels" value="{{ v }}">{% endfor %}
            <input type="hidden" name="difficulty-min" value="{{ search_params['difficulty-min'] }}">
            <input type="hidden" name="difficulty-max" value="{{ search_params['difficulty-max'] }}">
            <input type="hidden" name="quality-min" value="{{ search_params['quality-min'] }}">
            <input type="hidden" name="quality-max" value="{{ search_params['quality-max'] }}">
            <input type="hidden" name="downloads-min" value="{{ search_params['downloads-min'] }}">
            <input type="hidden" name="downloads-max" value="{{ search_params['downloads-max'] }}">
            <input type="hidden" name="solutions-min" value="{{ search_params['solutions-min'] }}">
            <input type="hidden" name="solutions-max" value="{{ search_params['solutions-max'] }}">
            <input type="hidden" name="comments-min" value="{{ search_params['comments-min'] }}">
            <input type="hidden" name="comments-max" value="{{ search_params['comments-max'] }}">
            <input type="hidden" name="size-min" value="{{ search_params['size-min'] }}">
            <input type="hidden" name="size-min-unit" value="{{ search_params['size-min-unit'] }}">
            <input type="hidden" name="size-max" value="{{ search_params['size-max'] }}">
            <input type="hidden" name="size-max-unit" value="{{ search_params['size-max-unit'] }}">
            <input type="hidden" name="sort_by" value="{{ search_params.get('sort_by', 'date') }}">
            <input type="hidden" name="sort_order" value="{{ search_params.get('sort_order', 'desc') }}">
            <input type="hidden" name="page" value="1">
            <button type="submit" class="btn active">Show Pages</button>
        </form>
        <span class="pagination-info">Showing all {{ crackmes|length }} results</span>
        {% elif not has_more and page == 1 %}
        <span class="pagination-info">Showing all {{ crackmes|length }} results</span>
        {% else %}
        <form method="get" action="/search" style="display: inline;">
            <input type="hidden" name="name" value="{{ search_params.name }}">
            <input type="hidden" name="author" value="{{ search_params.author }}">
            {% for v in search_params.get('lang', []) %}<input type="hidden" name="lang" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('arch', []) %}<input type="hidden" name="arch" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('platform', []) %}<input type="hidden" name="platform" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('labels', []) %}<input type="hidden" name="labels" value="{{ v }}">{% endfor %}
            <input type="hidden" name="difficulty-min" value="{{ search_params['difficulty-min'] }}">
            <input type="hidden" name="difficulty-max" value="{{ search_params['difficulty-max'] }}">
            <input type="hidden" name="quality-min" value="{{ search_params['quality-min'] }}">
            <input type="hidden" name="quality-max" value="{{ search_params['quality-max'] }}">
            <input type="hidden" name="downloads-min" value="{{ search_params['downloads-min'] }}">
            <input type="hidden" name="downloads-max" value="{{ search_params['downloads-max'] }}">
            <input type="hidden" name="solutions-min" value="{{ search_params['solutions-min'] }}">
            <input type="hidden" name="solutions-max" value="{{ search_params['solutions-max'] }}">
            <input type="hidden" name="comments-min" value="{{ search_params['comments-min'] }}">
            <input type="hidden" name="comments-max" value="{{ search_params['comments-max'] }}">
            <input type="hidden" name="size-min" value="{{ search_params['size-min'] }}">
            <input type="hidden" name="size-min-unit" value="{{ search_params['size-min-unit'] }}">
            <input type="hidden" name="size-max" value="{{ search_params['size-max'] }}">
            <input type="hidden" name="size-max-unit" value="{{ search_params['size-max-unit'] }}">
            <input type="hidden" name="sort_by" value="{{ search_params.get('sort_by', 'date') }}">
            <input type="hidden" name="sort_order" value="{{ search_params.get('sort_order', 'desc') }}">
            <input type="hidden" name="show_all" value="1">
            <button type="submit" class="btn active">Show All</button>
        </form>
        {% if page > 1 %}
        <form method="get" action="/search" style="display: inline;">
            <input type="hidden" name="name" value="{{ search_params.name }}">
            <input type="hidden" name="author" value="{{ search_params.author }}">
            {% for v in search_params.get('lang', []) %}<input type="hidden" name="lang" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('arch', []) %}<input type="hidden" name="arch" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('platform', []) %}<input type="hidden" name="platform" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('labels', []) %}<input type="hidden" name="labels" value="{{ v }}">{% endfor %}
            <input type="hidden" name="difficulty-min" value="{{ search_params['difficulty-min'] }}">
            <input type="hidden" name="difficulty-max" value="{{ search_params['difficulty-max'] }}">
            <input type="hidden" name="quality-min" value="{{ search_params['quality-min'] }}">
            <input type="hidden" name="quality-max" value="{{ search_params['quality-max'] }}">
            <input type="hidden" name="downloads-min" value="{{ search_params['downloads-min'] }}">
            <input type="hidden" name="downloads-max" value="{{ search_params['downloads-max'] }}">
            <input type="hidden" name="solutions-min" value="{{ search_params['solutions-min'] }}">
            <input type="hidden" name="solutions-max" value="{{ search_params['solutions-max'] }}">
            <input type="hidden" name="comments-min" value="{{ search_params['comments-min'] }}">
            <input type="hidden" name="comments-max" value="{{ search_params['comments-max'] }}">
            <input type="hidden" name="size-min" value="{{ search_params['size-min'] }}">
            <input type="hidden" name="size-min-unit" value="{{ search_params['size-min-unit'] }}">
            <input type="hidden" name="size-max" value="{{ search_params['size-max'] }}">
            <input type="hidden" name="size-max-unit" value="{{ search_params['size-max-unit'] }}">
            <input type="hidden" name="sort_by" value="{{ search_params.get('sort_by', 'date') }}">
            <input type="hidden" name="sort_order" value="{{ search_params.get('sort_order', 'desc') }}">
            <input type="hidden" name="page" value="{{ page - 1 }}">
            <button type="submit" class="btn active">Previous</button>
        </form>
        {% else %}
        <button class="btn" disabled>Previous</button>
        {% endif %}
        <span class="pagination-info">Page {{ page }}</span>
        {% if has_more %}
        <form method="get" action="/search" style="display: inline;">
            <input type="hidden" name="name" value="{{ search_params.name }}">
            <input type="hidden" name="author" value="{{ search_params.author }}">
            {% for v in search_params.get('lang', []) %}<input type="hidden" name="lang" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('arch', []) %}<input type="hidden" name="arch" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('platform', []) %}<input type="hidden" name="platform" value="{{ v }}">{% endfor %}
            {% for v in search_params.get('labels', []) %}<input type="hidden" name="labels" value="{{ v }}">{% endfor %}
            <input type="hidden" name="difficulty-min" value="{{ search_params['difficulty-min'] }}">
            <input type="hidden" name="difficulty-max" value="{{ search_params['difficulty-max'] }}">
            <input type="hidden" name="quality-min" value="{{ search_params['quality-min'] }}">
            <input type="hidden" name="quality-max" value="{{ search_params['quality-max'] }}">
            <input type="hidden" name="downloads-min" value="{{ search_params['downloads-min'] }}">
            <input type="hidden" name="downloads-max" value="{{ search_params['downloads-max'] }}">
            <input type="hidden" name="solutions-min" value="{{ search_params['solutions-min'] }}">
            <input type="hidden" name="solutions-max" value="{{ search_params['solutions-max'] }}">
            <input type="hidden" name="comments-min" value="{{ search_params['comments-min'] }}">
            <input type="hidden" name="comments-max" value="{{ search_params['comments-max'] }}">
            <input type="hidden" name="size-min" value="{{ search_params['size-min'] }}">
            <input type="hidden" name="size-min-unit" value="{{ search_params['size-min-unit'] }}">
            <input type="hidden" name="size-max" value="{{ search_params['size-max'] }}">
            <input type="hidden" name="size-max-unit" value="{{ search_params['size-max-unit'] }}">
            <input type="hidden" name="sort_by" value="{{ search_params.get('sort_by', 'date') }}">
            <input type="hidden" name="sort_order" value="{{ search_params.get('sort_order', 'desc') }}">
            <input type="hidden" name="page" value="{{ page + 1 }}">
            <button type="submit" class="btn active">Next</button>
        </form>
        {% else %}
        <button class="btn" disabled>Next</button>
        {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% include 'partial/footer.html' %}

{% endblock %}
{% block foot %}
<script>
function sortBy(field) {
    var currentSort = '{{ search_params.get("sort_by", "date") }}';
    var currentOrder = '{{ search_params.get("sort_order", "desc") }}';
    var newOrder = 'desc';

    if (field === currentSort) {
        newOrder = (currentOrder === 'desc') ? 'asc' : 'desc';
    }

    document.getElementById('sort_by').value = field;
    document.getElementById('sort_order').value = newOrder;
    document.querySelector('form.form-horizontal').submit();
}
</script>
{% endblock %}
