{% extends "base.html" %}
{% block title %}Search a crackme{% endblock %}
{% block page_title %}Search a crackme{% endblock %}
{% block head %}{% endblock %}
{% block content %}


<div style="max-width: 80%" class="container d-flex-row wrapper">

    <h2>Crackme search</h2>
    <form class="form-horizontal" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <div class="col-3">Crackme name</div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="name" name="name" placeholder="Name" value="{{ search_params.name }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3">Author</div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="author" name="author" placeholder="Author" value="{{ search_params.author }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Difficulty between</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="difficulty-min" name="difficulty-min" style="max-width: 20%">
                    {% for i in range(1, 7) %}
                    <option value="{{ i }}" {{ 'selected' if search_params.get('difficulty-min', 1) == i else '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
                and
                <select class="form-select" id="difficulty-max" name="difficulty-max" style="max-width: 20%">
                    {% for i in range(1, 7) %}
                    <option value="{{ i }}" {{ 'selected' if search_params.get('difficulty-max', 6) == i else '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Quality between</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="quality-min" name="quality-min" style="max-width: 20%">
                    {% for i in range(1, 7) %}
                    <option value="{{ i }}" {{ 'selected' if search_params.get('quality-min', 1) == i else '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
                and
                <select class="form-select" id="quality-max" name="quality-max" style="max-width: 20%">
                    {% for i in range(1, 7) %}
                    <option value="{{ i }}" {{ 'selected' if search_params.get('quality-max', 6) == i else '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Downloads between</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="number" id="downloads-min" name="downloads-min" min="0" value="{{ search_params.get('downloads-min', 0) }}" style="width: 20%; display: inline-block;">
                and
                <input class="form-input" type="number" id="downloads-max" name="downloads-max" min="0" placeholder="any" value="{{ search_params.get('downloads-max', '') }}" style="width: 20%; display: inline-block;">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Writeups between</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="number" id="solutions-min" name="solutions-min" min="0" value="{{ search_params.get('solutions-min', 0) }}" style="width: 20%; display: inline-block;">
                and
                <input class="form-input" type="number" id="solutions-max" name="solutions-max" min="0" placeholder="any" value="{{ search_params.get('solutions-max', '') }}" style="width: 20%; display: inline-block;">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Comments between</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="number" id="comments-min" name="comments-min" min="0" value="{{ search_params.get('comments-min', 0) }}" style="width: 20%; display: inline-block;">
                and
                <input class="form-input" type="number" id="comments-max" name="comments-max" min="0" placeholder="any" value="{{ search_params.get('comments-max', '') }}" style="width: 20%; display: inline-block;">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">Size between</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="number" id="size-min" name="size-min" min="0" step="any" placeholder="any" value="{{ search_params.get('size-min', '') }}" style="width: 15%; display: inline-block;">
                <select class="form-select" id="size-min-unit" name="size-min-unit" style="width: 70px; display: inline-block;">
                    <option value="B" {{ 'selected' if search_params.get('size-min-unit', 'KB') == 'B' else '' }}>B</option>
                    <option value="KB" {{ 'selected' if search_params.get('size-min-unit', 'KB') == 'KB' else '' }}>KB</option>
                    <option value="MB" {{ 'selected' if search_params.get('size-min-unit', 'KB') == 'MB' else '' }}>MB</option>
                    <option value="GB" {{ 'selected' if search_params.get('size-min-unit', 'KB') == 'GB' else '' }}>GB</option>
                </select>
                and
                <input class="form-input" type="number" id="size-max" name="size-max" min="0" step="any" placeholder="any" value="{{ search_params.get('size-max', '') }}" style="width: 15%; display: inline-block;">
                <select class="form-select" id="size-max-unit" name="size-max-unit" style="width: 70px; display: inline-block;">
                    <option value="B" {{ 'selected' if search_params.get('size-max-unit', 'MB') == 'B' else '' }}>B</option>
                    <option value="KB" {{ 'selected' if search_params.get('size-max-unit', 'MB') == 'KB' else '' }}>KB</option>
                    <option value="MB" {{ 'selected' if search_params.get('size-max-unit', 'MB') == 'MB' else '' }}>MB</option>
                    <option value="GB" {{ 'selected' if search_params.get('size-max-unit', 'MB') == 'GB' else '' }}>GB</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="lang">Language</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="lang" name="lang" multiple="">
                    <option value="C/C++" {{ 'selected' if search_params.lang == 'C/C++' else '' }}>C/C++</option>
                    <option value="Assembler" {{ 'selected' if search_params.lang == 'Assembler' else '' }}>Assembler</option>
                    <option value="Java" {{ 'selected' if search_params.lang == 'Java' else '' }}>Java</option>
                    <option value="Go" {{ 'selected' if search_params.lang == 'Go' else '' }}>Go</option>
                    <option value="Rust" {{ 'selected' if search_params.lang == 'Rust' else '' }}>Rust</option>
                    <option value="WebAssembly" {{ 'selected' if search_params.lang == 'WebAssembly' else '' }}>WebAssembly</option>
                    <option value="(Visual) Basic" {{ 'selected' if search_params.lang == '(Visual) Basic' else '' }}>(Visual) Basic</option>
                    <option value="Borland Delphi" {{ 'selected' if search_params.lang == 'Borland Delphi' else '' }}>Borland Delphi</option>
                    <option value="Turbo Pascal" {{ 'selected' if search_params.lang == 'Turbo Pascal' else '' }}>Turbo Pascal</option>
                    <option value=".NET" {{ 'selected' if search_params.lang == '.NET' else '' }}>.NET</option>
                    <option value="Unspecified/other" {{ 'selected' if search_params.lang == 'Unspecified/other' else '' }}>Unspecified/other</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="arch">Arch</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="arch" name="arch" multiple="">
                    <option value="x86" {{ 'selected' if search_params.arch == 'x86' else '' }}>x86</option>
                    <option value="x86-64" {{ 'selected' if search_params.arch == 'x86-64' else '' }}>x86-64</option>
                    <option value="java" {{ 'selected' if search_params.arch == 'java' else '' }}>java</option>
                    <option value="ARM" {{ 'selected' if search_params.arch == 'ARM' else '' }}>ARM</option>
                    <option value="MIPS" {{ 'selected' if search_params.arch == 'MIPS' else '' }}>MIPS</option>
                    <option value="RISC-V" {{ 'selected' if search_params.arch == 'RISC-V' else '' }}>RISC-V</option>
                    <option value="other" {{ 'selected' if search_params.arch == 'other' else '' }}>other</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="platform">Platform</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" id="platform" name="platform" multiple="">
                    <option value="DOS" {{ 'selected' if search_params.platform == 'DOS' else '' }}>DOS</option>
                    <option value="Mac OS X" {{ 'selected' if search_params.platform == 'Mac OS X' else '' }}>Mac OS X</option>
                    <option value="Multiplatform" {{ 'selected' if search_params.platform == 'Multiplatform' else '' }}>Multiplatform</option>
                    <option value="Unix/linux etc." {{ 'selected' if search_params.platform == 'Unix/linux etc.' else '' }}>Unix/linux etc.</option>
                    <option value="Windows" {{ 'selected' if search_params.platform == 'Windows' else '' }}>Windows</option>
                    <option value="Windows 2000/XP only" {{ 'selected' if search_params.platform == 'Windows 2000/XP only' else '' }}>Windows 2000/XP only</option>
                    <option value="Windows 7 Only" {{ 'selected' if search_params.platform == 'Windows 7 Only' else '' }}>Windows 7 Only</option>
                    <option value="Windows Vista Only" {{ 'selected' if search_params.platform == 'Windows Vista Only' else '' }}>Windows Vista Only</option>
                    <option value="Android" {{ 'selected' if search_params.platform == 'Android' else '' }}>Android</option>
                    <option value="iOS" {{ 'selected' if search_params.platform == 'iOS' else '' }}>iOS</option>
                    <option value="Unspecified/other" {{ 'selected' if search_params.platform == 'Unspecified/other' else '' }}>Unspecified/other</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn active float-right" value="Search">
        <a href="/random" target="_blank" class="btn active float-right" style="margin-right: 10px;">I'm feeling cracky</a>
    </form>
    <div style="clear: both; margin-top: 20px;"></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th style="width: 17%;">Name</th>
                    <th style="width: 14%;">Author</th>
                    <th style="width: 8%;">Language</th>
                    <th style="width: 6%;">Arch</th>
                    <th style="width: 4%;">Difficulty</th>
                    <th style="width: 4%;">Quality</th>
                    <th style="width: 8%;">Platform</th>
                    <th style="width: 6%;">Size</th>
                    <th style="width: 9%;">Date</th>
                    <th style="width: 5%;">Downloads</th>
                    <th style="width: 5%;">Writeups</th>
                    <th style="width: 5%;">Comments</th>
                </tr>
            </thead>
            <tbody id="search-results">
                {% for crackme in crackmes %}
                <tr class="text-center">
                    <td> <a href="/crackme/{{ crackme.hexid }}">{{ crackme.name }}</a></td>
                    <td> <a href="/user/{{ crackme.author }}">{{ crackme.author }}</a> </td>
                    <td> {{ crackme.lang }} </td>
                    <td> {{ crackme.arch }} </td>
                    <td> {{ "%.1f"|format(crackme.difficulty) }} </td>
                    <td> {{ "%.1f"|format(crackme.quality) }} </td>
                    <td> {{ crackme.platform }} </td>
                    <td> {{ crackme.size|default(0)|FILESIZE }} </td>
                    <td> {{ crackme.created_at|PRETTYTIME }} </td>
                    <td> {{ crackme.nbdownloads|default(0) }} </td>
                    <td> {{ crackme.nbsolutions }} </td>
                    <td> {{ crackme.nbcomments }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if crackmes|length > 0 %}
    <div class="pagination-controls">
        {% if show_all %}
        <form method="post" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="name" value="{{ search_params.name }}">
            <input type="hidden" name="author" value="{{ search_params.author }}">
            <input type="hidden" name="lang" value="{{ search_params.lang }}">
            <input type="hidden" name="arch" value="{{ search_params.arch }}">
            <input type="hidden" name="platform" value="{{ search_params.platform }}">
            <input type="hidden" name="difficulty-min" value="{{ search_params['difficulty-min'] }}">
            <input type="hidden" name="difficulty-max" value="{{ search_params['difficulty-max'] }}">
            <input type="hidden" name="quality-min" value="{{ search_params['quality-min'] }}">
            <input type="hidden" name="quality-max" value="{{ search_params['quality-max'] }}">
            <input type="hidden" name="downloads-min" value="{{ search_params['downloads-min'] }}">
            <input type="hidden" name="downloads-max" value="{{ search_params['downloads-max'] }}">
            <input type="hidden" name="solutions-min" value="{{ search_params['solutions-min'] }}">
            <input type="hidden" name="solutions-max" value="{{ search_params['solutions-max'] }}">
            <input type="hidden" name="comments-min" value="{{ search_params['comments-min'] }}">
            <input type="hidden" name="comments-max" value="{{ search_params['comments-max'] }}">
            <input type="hidden" name="size-min" value="{{ search_params['size-min'] }}">
            <input type="hidden" name="size-min-unit" value="{{ search_params['size-min-unit'] }}">
            <input type="hidden" name="size-max" value="{{ search_params['size-max'] }}">
            <input type="hidden" name="size-max-unit" value="{{ search_params['size-max-unit'] }}">
            <input type="hidden" name="page" value="1">
            <button type="submit" class="btn active">Show Pages</button>
        </form>
        <span class="pagination-info">Showing all {{ crackmes|length }} results</span>
        {% elif not has_more and page == 1 %}
        <span class="pagination-info">Showing all {{ crackmes|length }} results</span>
        {% else %}
        <form method="post" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="name" value="{{ search_params.name }}">
            <input type="hidden" name="author" value="{{ search_params.author }}">
            <input type="hidden" name="lang" value="{{ search_params.lang }}">
            <input type="hidden" name="arch" value="{{ search_params.arch }}">
            <input type="hidden" name="platform" value="{{ search_params.platform }}">
            <input type="hidden" name="difficulty-min" value="{{ search_params['difficulty-min'] }}">
            <input type="hidden" name="difficulty-max" value="{{ search_params['difficulty-max'] }}">
            <input type="hidden" name="quality-min" value="{{ search_params['quality-min'] }}">
            <input type="hidden" name="quality-max" value="{{ search_params['quality-max'] }}">
            <input type="hidden" name="downloads-min" value="{{ search_params['downloads-min'] }}">
            <input type="hidden" name="downloads-max" value="{{ search_params['downloads-max'] }}">
            <input type="hidden" name="solutions-min" value="{{ search_params['solutions-min'] }}">
            <input type="hidden" name="solutions-max" value="{{ search_params['solutions-max'] }}">
            <input type="hidden" name="comments-min" value="{{ search_params['comments-min'] }}">
            <input type="hidden" name="comments-max" value="{{ search_params['comments-max'] }}">
            <input type="hidden" name="size-min" value="{{ search_params['size-min'] }}">
            <input type="hidden" name="size-min-unit" value="{{ search_params['size-min-unit'] }}">
            <input type="hidden" name="size-max" value="{{ search_params['size-max'] }}">
            <input type="hidden" name="size-max-unit" value="{{ search_params['size-max-unit'] }}">
            <input type="hidden" name="show_all" value="1">
            <button type="submit" class="btn active">Show All</button>
        </form>
        {% if page > 1 %}
        <form method="post" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="name" value="{{ search_params.name }}">
            <input type="hidden" name="author" value="{{ search_params.author }}">
            <input type="hidden" name="lang" value="{{ search_params.lang }}">
            <input type="hidden" name="arch" value="{{ search_params.arch }}">
            <input type="hidden" name="platform" value="{{ search_params.platform }}">
            <input type="hidden" name="difficulty-min" value="{{ search_params['difficulty-min'] }}">
            <input type="hidden" name="difficulty-max" value="{{ search_params['difficulty-max'] }}">
            <input type="hidden" name="quality-min" value="{{ search_params['quality-min'] }}">
            <input type="hidden" name="quality-max" value="{{ search_params['quality-max'] }}">
            <input type="hidden" name="downloads-min" value="{{ search_params['downloads-min'] }}">
            <input type="hidden" name="downloads-max" value="{{ search_params['downloads-max'] }}">
            <input type="hidden" name="solutions-min" value="{{ search_params['solutions-min'] }}">
            <input type="hidden" name="solutions-max" value="{{ search_params['solutions-max'] }}">
            <input type="hidden" name="comments-min" value="{{ search_params['comments-min'] }}">
            <input type="hidden" name="comments-max" value="{{ search_params['comments-max'] }}">
            <input type="hidden" name="size-min" value="{{ search_params['size-min'] }}">
            <input type="hidden" name="size-min-unit" value="{{ search_params['size-min-unit'] }}">
            <input type="hidden" name="size-max" value="{{ search_params['size-max'] }}">
            <input type="hidden" name="size-max-unit" value="{{ search_params['size-max-unit'] }}">
            <input type="hidden" name="page" value="{{ page - 1 }}">
            <button type="submit" class="btn active">Previous</button>
        </form>
        {% else %}
        <button class="btn" disabled>Previous</button>
        {% endif %}
        <span class="pagination-info">Page {{ page }}</span>
        {% if has_more %}
        <form method="post" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="name" value="{{ search_params.name }}">
            <input type="hidden" name="author" value="{{ search_params.author }}">
            <input type="hidden" name="lang" value="{{ search_params.lang }}">
            <input type="hidden" name="arch" value="{{ search_params.arch }}">
            <input type="hidden" name="platform" value="{{ search_params.platform }}">
            <input type="hidden" name="difficulty-min" value="{{ search_params['difficulty-min'] }}">
            <input type="hidden" name="difficulty-max" value="{{ search_params['difficulty-max'] }}">
            <input type="hidden" name="quality-min" value="{{ search_params['quality-min'] }}">
            <input type="hidden" name="quality-max" value="{{ search_params['quality-max'] }}">
            <input type="hidden" name="downloads-min" value="{{ search_params['downloads-min'] }}">
            <input type="hidden" name="downloads-max" value="{{ search_params['downloads-max'] }}">
            <input type="hidden" name="solutions-min" value="{{ search_params['solutions-min'] }}">
            <input type="hidden" name="solutions-max" value="{{ search_params['solutions-max'] }}">
            <input type="hidden" name="comments-min" value="{{ search_params['comments-min'] }}">
            <input type="hidden" name="comments-max" value="{{ search_params['comments-max'] }}">
            <input type="hidden" name="size-min" value="{{ search_params['size-min'] }}">
            <input type="hidden" name="size-min-unit" value="{{ search_params['size-min-unit'] }}">
            <input type="hidden" name="size-max" value="{{ search_params['size-max'] }}">
            <input type="hidden" name="size-max-unit" value="{{ search_params['size-max-unit'] }}">
            <input type="hidden" name="page" value="{{ page + 1 }}">
            <button type="submit" class="btn active">Next</button>
        </form>
        {% else %}
        <button class="btn" disabled>Next</button>
        {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% include 'partial/footer.html' %}

{% endblock %}
{% block foot %}{% endblock %}
