{% extends "base.html" %}
{% block title %}Latest activity{% endblock %}
{% block page_title %}Latest activity{% endblock %}
{% block content %}
<div style="max-width: 90%" class="container d-flex-row wrapper">
    <h2>Latest Crackmes <a href="/rss"><img src="/static/img/rss.svg" width="16" height="16" alt="Latest activity RSS" /></a></h2>
    {% include 'latest/_crackmes.html' %}
    {% if more_crackmes %}
    <div class="pagination-controls">
        <a href="/lasts/1" class="btn active">Show more crackmes</a>
    </div>
    {% endif %}

    <h2>Latest Solutions <a href="/rss"><img src="/static/img/rss.svg" width="16" height="16" alt="Latest activity RSS" /></a></h2>
    {% include 'latest/_solutions.html' %}
    {% if more_solutions %}
    <div class="pagination-controls">
        <a href="/latest/solutions/1" class="btn active">Show more solutions</a>
    </div>
    {% endif %}

    <h2>Latest Solves <a href="/rss"><img src="/static/img/rss.svg" width="16" height="16" alt="Latest activity RSS" /></a></h2>
    {% include 'latest/_solves.html' %}
    {% if more_solves %}
    <div class="pagination-controls">
        <a href="/latest/solves/1" class="btn active">Show more solves</a>
    </div>
    {% endif %}
</div>
{% include 'partial/footer.html' %}
{% endblock %}
