<!DOCTYPE html>
<html>

<head>
    <title>Delete crackme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-exp.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script>
        function confirmSubmit(event) {
            const userResponse = confirm("This will delete all comments and solutions with crackme. Are you sure?");
            if (!userResponse) {
                event.preventDefault();
            }
        }
    </script>
</head>

<body>
    <header class="navbar hide-xs">
        <section class="navbar-section">
            <h2><a href="{{ url_for('reviewer.dashboard') }}" class="title-navbar">Dashboard</a></h2>
        </section>
        <section class="navbar-center">
            <h2>Welcome, {{ user }}!{% if is_admin %} (Admin){% endif %}</h2>
        </section>
        <section class="navbar-section">
            <a href="/" class="btn btn-link">crackmes.one</a>
            <a href="{{ url_for('reviewer.logout') }}" class="btn btn-link">Logout</a>
        </section>
    </header>

    <div class="container grid-lg wrapper">
        {% if message %}
        <div class="text-center notif-item s-rounded">
            <span>{{ message }}</span>
        </div>
        {% endif %}

        <form class="form-horizontal" method="post" onsubmit="confirmSubmit(event)">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <div class="col-3">Crackme UUID</div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="name" name="crackme_uuid" placeholder="UUID">
                </div>
            </div>
            <input type="submit" class="btn active float-right" value="Delete crackme">
        </form>

    </div>
</body>

</html>
