<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://crackmes.one" />
        <meta property="og:title" content="{% block title %}Crackmes.one{% endblock %}"/>
        <meta property="og:image" content="/static/favicons/crackmes-logo.png"/>
        <meta name="theme-color" content="#9acc14">
        <link rel="icon" type="image/x-icon" href="/static/favicons/crackmes-logo.png">
        <link rel="stylesheet" href="/static/css/spectre.min.css">
        <link rel="stylesheet" href="/static/css/spectre-exp.min.css">
        <link rel="stylesheet" href="/static/css/spectre-icons.min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <title>{% block page_title %}Crackmes.one{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include 'partial/menu.html' %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        {% block foot %}{% endblock %}
    </body>
</html>
