{# Inline single-choice radio buttons, laid out to match the label checkboxes
   (templates/partial/labels_checkboxes.html) instead of an ugly multi-line
   select list box.

   Expects:
     radio_name     - form field name (e.g. 'lang')
     radio_options  - list of allowed string values
     radio_selected - the currently selected value ('' when none) #}
{% for opt in radio_options %}
<label class="form-radio" style="display: inline-block; margin-right: 16px;">
    <input type="radio" name="{{ radio_name }}" value="{{ opt }}"{{ ' checked' if radio_selected == opt else '' }}>
    <i class="form-icon"></i> {{ opt }}
</label>
{% endfor %}
