<div class="container grid-lg wrapper">
    <h3>Crackme of the Month - June 2025</h3>
    <p><strong>Winner:</strong></p>
    <p>
        Congratulations to <strong>nukoneZ</strong> for winning with the crackme:
        <a href="https://crackmes.one/crackme/6848e4102b84be7ea77437ba" target="_blank">"Ransomware"</a>!
    </p>

    <p><strong>Honorable Mentions:</strong></p>
    <ol>
        <li>
            <a href="https://crackmes.one/crackme/684917e72b84be7ea77437c1" target="_blank">Berardinis's "The Obfuscator's Riddle"</a>
        </li>
        <li>
            <a href="https://crackmes.one/crackme/68439ee62b84be7ea7743690" target="_blank">stackpointer7's "agent_1337"</a>
        </li>
        <li>
            <a href="https://crackmes.one/crackme/684daacc2b84be7ea77438a3" target="_blank">crackerfg's "Helium"</a>
        </li>
    </ol>
</div>
